
.carousel .slider-wrapper{
    margin-top: 30vh;
    display: flex;
}
.carousel.carousel-slider .control-arrow{
    margin-top: 30vh;   

}

.carousel .slide iframe{
    height: 250px;
    width:400px;
}
.youtube-box{
    width: 30%;
    height: 100%;
}