@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KcardR:300,400,500,700,900&display=swap');

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Noto Sans KR', 'GmarketSansMedium';
}

.mp_mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
/* 마이 페이지 메인 */
.my_main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #1b3455;
  font-family: 'Noto Sans KR', 'GmarketSansMedium';
  text-align: center;
}

#mp_page {
  display: flex;
}

body {
  background-color: #1b3455;
  margin: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin-left : 15%; */
  align-items: center;
}
/* 마이 페이지 메인 종료 */

#mp_spacedivision {
  height: 10vh;
}

/* 프로필카드 */
.mp_card {
  width: 20%;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  text-align: center;
  margin-left: 15%;
  user-select: none;
}

.mp_card > .profile {
  background-size: 120px;
  font-size: large;
}

/* 프로필카드 종료 */

body {
  margin: 0;
  box-sizing: border-box;

  overflow-y: scroll;
}

/* 스크롤바 안보이게 ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* main 버튼 스타일 지정 */
#main_btnWrap {
  display: flex;
  flex-direction: row;
}

/* main 페이지 로그인버튼 스타일 지정 */
/* transparent 는 투명을 의미한다. */
.main_signupBtn {
  box-sizing: border-box;
  appearance: none;
  cursor: pointer;
  display: flex;
  align-self: center;
  margin: 0 12px 0 0;
  padding: 8px 16px 8px 16px;
  border-radius: 30px;
  background-color: transparent;

  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: white;

  transition: 0.3s;
}

.main_signupBtn:hover {
  background-color: white;
  color: #212121;
}

/* main 페이지 회원가입 버튼 스타일 지정 */
/* transparent 는 투명을 의미한다. */
.main_loginBtn {
  all: unset;
  box-sizing: border-box;
  appearance: none;
  cursor: pointer;
  display: flex;
  align-self: center;
  margin: 16px 12px 16px 0;
  padding: 8px 16px 8px 16px;

  /* border: 1px solid white;
    border-radius: 30px; */
  background-color: transparent;

  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: white;

  transition: 0.3s;
}

.main_loginBtn:hover {
  /* background-color: #212121; */
  color: white;
}

@keyframes main_navMiddle_fadeOut {
  to {
    opacity: 1;
  }
}

/* 문의사항 리스트 */
#QA_listtitle {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 10px;
}

#QA_listtitle > div {
  align-items: center; /* 세로 정렬 */
  justify-items: center; /* 가로 정렬 */
}

#QA_listtitle > div:nth-child(2) {
  padding-left: 25%;
}
.QA_secondtable {
  padding-left: 25%;
}

/* 문의사항 접수  */
.QA_area {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

#QA_title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#QA_titlecontent {
  width: 60%;
  height: 50%;
  margin: auto 0;
}

#QA_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.QA_gotobutton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 5% 10% 0 0;
}

#QA_content {
  width: 100%;
  height: 80%;
  padding: 0 9.2%;
}

#QA_Content {
  width: 100%;
  height: 30vh;
  resize: none;
}

#QA_buttonarea {
  width: 100%;
}
#QA_buttonarea {
  display: flex;
  justify-content: flex-end;
  padding: 5% 10% 0 0;
}

body,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 탭메뉴 키 */
.mp_tabmenu {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

#mp_frotable {
  display: flex;
  justify-content: center;
}

.mypagefro {
  height: 37vh;
  color: #ededed;
  box-sizing: content-box;
}

.mp_h2 {
  margin-bottom: 10px;
  margin-top: 1rem;

  color: #222;
}
ul.mp_tabs {
  display: flex;
  flex-direction: column;
  padding: 0px;
  list-style: none;
  border: 1px solid #8ca9bf;
  border-radius: 5px;
  width: 150px;
  gap: 10px;
  position: fixed;
  margin-top: 5%;
  cursor: pointer;
  user-select: none;
}
ul.mp_tabs li {
  background: none;
  color: white;
  display: inline-block;
  padding: 15px 15px;
}

ul.mp_tabs li.current {
  background: #ededed;
  color: #222;
}

.mp_inputarea {
  display: flex;
  gap: 30%;
}

.mp_infoarea {
  width: 80%;
}
/* 탭 메뉴의 하단 출력 배경 */
.mp_output {
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 120vh;
  background-color: #ededed;
  border-radius: 15px;
  align-items: center;
  margin-top: -7%;
  color: #222;
}

#mp_review {
  border: 1px solid white;
  height: 1vh;
  width: 100%; /* 필요한 경우 테이블 너비를 100%로 설정 */
  border-collapse: collapse; /* 셀 간 테두리를 병합 */
}

#mp_review th {
  border: none; /* 각 셀에 테두리 추가 */
  padding: 8px; /* 셀 안쪽 여백 추가 */
}

#mp_secession {
  color: white;
  text-align: center;
  width: 40%;
  height: 20vh;
  margin: 0;
}

#mp_questiontext {
  display: flex;
  flex-direction: column;
}

#mp_question {
  height: inherit;
}

/* 풀었던 문제 리스트 */
#mp_listSpace {
  margin-top: 20%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 10px;
}

#mp_listSpace > div:nth-child(2) {
  margin-left: 45%;
}

.exam_secondtable {
  margin-left: 45%;
}

.mp_socialLogin {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#mp_secessionButton {
  border: 1px solid rgb(211, 22, 60);
  border-radius: 20px;
  margin-top: 5%;
  color: rgb(211, 22, 60);
}

#mp_secessionButton:hover {
  background-color: rgb(207, 16, 54);
  color: #ccc;
}

/* 탭메뉴 공간 */
.mp_tabstate {
  display: flex;
  gap: 25%;
  width: 100%;
  margin: 15% auto;
}
.mp_tab-content {
  display: none;
  background: #ededed;
  padding: 15px 24px;
  height: 50vh;
  border-radius: 0 0 30px 30px;
}

.mp_Info {
  width: 300px;

  text-align: left;
}

#mp_nameCh {
  margin: 0 auto;
}

.mp_etcsection {
  display: flex;
  width: 100%;
}

.mp_level {
  width: 80%;
  border: 1px solid black;
}
/* 탭 메뉴 종료 */

/* 계정연동 버튼 */

.mp_auth-butoon {
  margin: 30px;
  border: none;
  width: 50px; /* 버튼 너비 조절 */
  height: 50px; /* 버튼 높이 조절 */
}

.mp_emoticon {
  width: 50px; /* 버튼 너비 조절 */
  height: auto;
  margin-left: -6.5px;
}
.auth-btn:hover {
  color: white;
}

.google:hover {
  border-radius: 30px;
  background-color: #db4437;
  border-color: #db4437;
}

.github:hover {
  border-radius: 30px;
  background-color: #333;
  border-color: #333;
}

.kakao:hover {
  border-radius: 30px;
  background-color: #fee500;
  border-color: #fee500;
}

/* 계정연동 버튼 종료 */

/* 구독페이지 */
.mp_subimg {
  margin-top: 20%;
}

@media (max-width: 768px) {
  .subs_modal_content {
    flex-direction: column;
    width: 360px;
  }
  .photo {
    flex-basis: 250px;
  }
}
/* 구독모달창 종료 */

/* 결제 정보 칸에 들어가는 사진 크기 조절  */
.mp_output img {
  bottom: 50%;
}
