/* 231125 정은우 : body 및 기본 폰트 설정  */
/* 로고 폰트 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*  */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* 코딩 코드 폰트 */
@font-face {
  font-family: 'intelone-mono-font-family-regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.notosanskr * {
  font-family: 'Noto Sans KR', sans-serif;
}

/* main CSS 시작 */
/* body 마진 값 0 / 배경 색 설정(1B3455) / 폰트 설정*/
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #1B3455;
  color: white;
  overflow-y: scroll;
}

body.day {
  color: #212121;
  background-color: white;
}

/* 스크롤바 안보이게 ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
body::-webkit-scrollbar {
  display: none;
}

/* LINK태그 기본 밑줄 등 꾸밈요소 삭제 */
a {
  text-align: center;
  text-decoration: none;
  /* 링크의 밑줄 제거 */
  color: inherit;
  /* 링크의 색상 제거 */
}